HTTP_ADDR=5050
HTTP_READ_TIMEOUT=30s
HTTP_WRITE_TIMEOUT=10s
HTTP_IDLE_TIMEOUT=10s
HTTP_SHUTDOWN_TIMEOUT=10s
ALLOWED_ORIGINS=http://localhost:5050

POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

LOGGER_LEVEL=DEBUG

TIME_ZONE=UTC